:root {
  --main-color: #011f4b;
  --scd-color: #03396c;

  --main-font: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: #fff;
  background-color: #151515;
  font-size: 16px;
}

/* HEADER */

/* ICON / TYPOGRAPHY */

/* MAIN */

main {
  height: calc(79vh - 20px);

  margin: 0 30px;
}

.wrapper-section {
  height: 100%;
  width: 70%;
  border-radius: 30px;

  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 100%;

  background: var(--main-color);
  background: linear-gradient(180deg, var(--main-color), var(--scd-color));
}

/* MAIN-SECTION */

/* ASIDE-SECTION */

.aside-section {
  background-color: #151515;
  margin: 5px;
  border-radius: 30px;
}

/* FOOTER-SECTION */

.footer-section {
  grid-column: 1/3;
  background-color: #151515;
}
