.wrap-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  height: min-content;
  width: 100%;
}

.wrap-icon img {
  height: 37px;
}

.cont-icon {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 3px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-top: 5px;
}

.icon img {
  width: 30px;
}

.icon .main-icon {
  width: 55px;
}

.main-icon {
  width: 55px;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}
