.main-section {
  padding: 10px 20px;
}

.wr-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wr-content {
  width: fit-content;
  height: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);

  justify-items: end;
  align-items: center;

  column-gap: 60px;
  row-gap: 20px;
}
